@using System.Globalization;
@model WineShop.ViewModels.SaskiaAleaViewModelbi
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div id="update-message"></div>
    <table class="table table-striped">
        <thead>
            <tr class="borgona">
                <th>Izena</th>
                <th>Irudia</th>
                <th>Kantitatea</th>
                <th>Salneurria</th>
                <th>Guztira</th>
            </tr>
        </thead>
        @{
            decimal saskiaguztira = 0;
        }
        @foreach (var item in Model.SaskiaAleaVMList)
        {
            <tr id="row-@item.ArdoaId">
                <td>
                    @item.Izena
                </td>
                <td>
                    <img class="img-thumbnail altuera" id="thumbnail" src="~/images/ardoak/@item.Irudia" />
                </td>
                <td>
                    @item.Kantitatea
                </td>
                <td>
                    @item.Salneurria
                </td>
                <td>
                    @{
                        decimal guztira = item.Salneurria * item.Kantitatea;
                        saskiaguztira += guztira;
                    }
                    @guztira
                </td>
            </tr>
        }
        <tr>
            <td>
                <a class="btn btn-borgona text-light" asp-controller="Home" asp-action="Index">Bueltatu</a>
                <a class="btn btn-borgona text-light" asp-controller="Ordaindu" asp-action="Index">Ordaindu</a>
            </td>
            <td></td>
            <td></td>
            <td class="float-right"><p>Guztira: <span id="cart-total">@saskiaguztira.ToString("C2", CultureInfo.CurrentCulture)</span></p></td>
        </tr>
    </table>
</div>